################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/FitGames.Spine/bin/Debug
/src/FitGames.Spine/obj
/src/FitGames.Spine/FitGames.Spine.csproj.user
